body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.list a{
  color: #fff;
}
.list,.logout,.btn{
  width: 100%;
}
.auth{
  width: 70%;
  margin: auto;  
}
.sidebar{
  position: fixed;
  right: 0;
  top: 10px;
}
.add-opt{
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ebebeb;
}
.poll-opt{
  width: 60%;
}
.poll-opt input[type="text"]{
  width: 100%;
}
.add-opt .btn{
  width: 24%;  
}
.opt-actions .btn {
  width: 80%;
}